.navbar {
 	margin: 0; 
 	padding-top: 10px; 
 	height: 2em;
 	padding-bottom: 50px;
	}

.navbar li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	font-family: "helvetica";
	font-size: 30px; 
	}

.navbar li a{
	display: inline-block; 
	color: white;
	text-align: center;
	padding: 10px 10px 10px 20px;    
	text-decoration: none; 
	font-size: 16px;
	}

.navbar li a:hover {
	background-color: black;
	opacity: 0.7;
	color: white;
	display: inline-block;
	padding: 2px 20px 2px 20px; 
	transition: 0.2s; 
	}

.img1{
	min-height: 700px;
	position: relative;
	background-image: url("CampKesem.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

}
.title {
	font-size: 100px;
	font-family: "helvetica", bold;
	color: white; 
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 50px;
	display: inline-block;
	margin: 0 auto;
	font-weight: 450;
	letter-spacing: 1px;
	opacity: 1;
}

.box {
	justify-content: center;
	background-color: black;
	opacity: 0.6;
	margin: auto;
	width: 700px;

}

.marqueebox{
	background-color: black;
	color: white;
	opacity: 0.75; 
	width: 700px; 
	padding: 5px; 
	text-align: center;
}
marquee{
	padding-right: 170px; 
	color: white;
	position: relative;
}

/*.movetext {
    width: 700px;
    height: 300px;
    background: black;
    opacity: 0.6;
    margin-top: 100px;
    position: relative;
    -webkit-transform: mymove 5s; 
    animation-duration: mymove 5s ;
  	animation-delay: 2s;
}*/

/*@-webkit-transform: mymove {
   /* from {left: 0px;}
    to {left: 200px;} */

    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
}

@keyframes mymove {
   /* from {left: 0px;}
    to {left: 200px;} */